In [19]:
import requests
import pandas as pd
from tqdm import tqdm
df = pd.read_csv('data.csv')

df.head()

,link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,Blue Atmosphere Clouds Sky,196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,Bird Ornithology Hummingbird,76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,Subtropical Rainfall Sea Rainbow,282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,Cherry Road Blossoms Sakura Japan,42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,Flower Cape Marguerite Plant,39,15

### 1) Downloding an Image

In [6]:
link = df['link'][0]

res = requests.get(link)

In [9]:
fd = open('Img.png','wb')

fd.write(res.content)
fd.close()

### 2) Downloding all the Images

In [21]:
path = []

for link in tqdm(df['link']):
    
    res = requests.get(link)
    
    fd = open('Imgs/'+link.split('/')[-1],'wb')
    fd.write(res.content)
    fd.close()
    
    path.append('Imgs/'+link.split('/')[-1])

100%|██████████████████████████████████████████████████████████████| 798/798 [07:30<00:00,  1.77it/s]

In [16]:
print('Imgs/'+link.split('/')[-1])

Imgs/clouds-7050884__480.jpg

In [22]:
df['path'] = path

In [23]:
df.head()

,link,tags,likes,comments,path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,Blue Atmosphere Clouds Sky,196,55,Imgs/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,Bird Ornithology Hummingbird,76,20,Imgs/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,Subtropical Rainfall Sea Rainbow,282,106,Imgs/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,Cherry Road Blossoms Sakura Japan,42,11,Imgs/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,Flower Cape Marguerite Plant,39,15,Imgs/cape-marguerite-7121992__340.jpg

In [24]:
df.to_csv('Imgs.csv', index = False)